:root {
	color-scheme: light dark;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin: auto;
	gap: 1em;
	padding: 1em;
	box-sizing: border-box;
	font-family: sans-serif;
}

.selectWrapper {
	display: inline-block;
	position: relative;
}

.selectWrapper select {
	appearance: none;
	font: inherit;
	padding: 0.5em;
	border-radius: 6px;
	width: 100%;
}

.selectWrapper .selectArrow {
	pointer-events: none;
	position: absolute;
	right: 0.7em;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
	height: auto;
}

video {
}

#webcam {
	transform: scaleX(-1);
}
