body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;

	.hidden {
		display: none;
	}

	.background {
		background: url(/assets/loadingScreen1.png);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	details {
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		bottom: 80px;
		cursor: pointer;
		font-size: 1.5em;
		font-family: sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;

		summary {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			svg {
				width: 20px;
				fill: #fff3;
			}
		}
		.progressDetail {
			margin-top: 1em;
			font-size: 10px;
			font-family: monospace;
			overflow-wrap: break-word;
			word-break: break-all;
			max-width: 400px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-around;
			gap: 10px;
			pointer-events: none;
			button {
				cursor: pointer;
				pointer-events: all;
				background: transparent;
				border: 1px solid currentColor;
			}
		}
	}

	#progress-bar {
		position: absolute;
		bottom: 47px;
		height: 30px;
	}

	.advanced {
		position: absolute;
		left: 10vw;
		top: 10vh;
		width: 80vw;
		height: 80vh;
		overflow-y: auto;
		background: #333;
		border: 1px solid white;
		border-radius: 7px;
		box-sizing: border-box;
		padding: 15px;
	}
}
