@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: black;
	user-select: none;
}

.splash {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		margin-bottom: 0;
	}
	span {
		margin-bottom: 1em;
	}

	button {
		background-color: #4caf50; /* Green background */
		border: none; /* No border */
		color: white; /* White text */
		padding: 10px 20px; /* Padding inside the button */
		text-align: center; /* Center text */
		text-decoration: none; /* No underline */
		display: inline-block; /* Display as inline block */
		font-size: 16px; /* Font size */
		margin: 4px 2px; /* Margin around the button */
		cursor: pointer; /* Cursor pointer on hover */
		border-radius: 5px; /* Rounded corners */
		&.hidden {
			display: none;
		}
		&:hover {
			background-color: #45a049; /* Darker green */
		}
	}
}

iframe {
	border: 0;
	position: fixed;
	left: 0;
	top: 0;
}
.container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	box-sizing: border-box;
	pointer-events: none;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	max-width: var(--inner-max-width);
	margin-inline: auto;
	width: 100%;
	padding-top: 13px;
	.title-container {
		pointer-events: all;
		margin-top: -7px;
		display: flex;
		align-items: center;
		.back-button {
			width: 30px;
			height: 30px;
			background-color: yellow;
			border: 1px solid black;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			cursor: pointer;
			svg {
				pointer-events: none;
			}
		}
		.title {
			margin-left: 10px;
			color: #00c7ff;
			-webkit-text-stroke: 1.5px black;
			-webkit-text-fill-color: #00c7ff;
			font-size: 35px;
			letter-spacing: -1.5px;
			font-family: 'Passion One', sans-serif;
			font-weight: 400;
		}
	}
	.currency {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}
}
