.hidden {
	display: none !important;
}
.font-rubik {
	font-family: 'Rubik Mono One', 'Courier New', Courier, monospace;
}

div#controls {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	overflow: hidden;
	overscroll-behavior: none;
	user-select: none;
}
.controls-bottom,
.controls-top {
	pointer-events: all;
	overscroll-behavior: none;
}
.controls-bottom {
	position: absolute;
	bottom: 8px;
	width: 100vw;
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: flex-end;
	height: 22%;
	max-height: 106px;
	pointer-events: all;
}
.controls-bottom .symbol {
	font-size: 60px;
	line-height: 55px;
	&.mineralIcon {
		font-size: 40px;
		margin-bottom: -9px;
	}
}
.controls-bottom .symbol-smaller {
	font-size: 45px;
	line-height: 40px;
}
/* prettier-ignore */
.controls-bottom > div:not(.team) {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	color: #886337;
	text-transform: uppercase;
	font-family: monospace;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 2px;
	background-color: #4c360e;
	background: linear-gradient(#644d40, #472f2a);
	box-shadow: 
		1px 3px 5px 2px #00000075,
		inset 1px 1px 0px 4px #6b472b,
		inset 1px 1px 0px 5px #0f0000c9,
		inset 1px -6px 8px 0px #312604;
}
.controls-bottom .missile {
	margin-right: 18px;
	.missileIcon {
		z-index: 2;
		width: 75px;
		height: 70px;
		overflow: hidden;
		margin-right: -10px;
		margin-top: -6px;
		svg {
			height: 75px;
			width: 75px;
			margin-top: -5px;
		}
	}
}
.controls-bottom .mineral {
	margin-left: 18px;
	.mineralIcon {
		z-index: 2;
		svg {
			width: 75px;
			height: 66px;
			margin-bottom: -6px;
		}
	}
}
.controls-bottom .missile,
.controls-bottom .mineral {
	height: 85%;
	aspect-ratio: 112 / 100;
}
.controls-bottom .team {
	height: 80%;
	aspect-ratio: 101 / 100;
}
/* 
.controls-bottom .team {
	&.disabled {
		filter: brightness(0.75);
	}
	&.empty {
		box-shadow: none;
		background: #886337;
		filter: brightness(0.5) saturate(0.5);
		border: 2px dashed #e5950f;

		.symbol-smaller,
		div:last-child {
			display: none;
		}
	}
	.progress {
		width: 50px;
		background: #0009;
		margin-top: 7px;
		height: 10px;
		margin-bottom: 7px;
		border-radius: 24px;
		overflow: hidden;

		.progress-bar {
			height: 100%;
			background: #00d8e3;
		}
	}
} 
*/
.controls-bottom .team {
	&.disabled,
	&.cooldown,
	&.mineralShort {
		filter: brightness(0.75);
	}
	&.empty {
		border-radius: 10px;
		box-shadow: none;
		background: #886337;
		filter: brightness(0.5) saturate(0.5);
		border: 2px dashed #e5950f;

		.symbol-smaller,
		div:last-child {
			display: none;
		}
	}
	& > * {
		pointer-events: none;
	}

	.thumbnail {
		--background-color: #ffe168;
		--background-stripe-color: #ffcc00;
		background: repeating-linear-gradient(
			var(--background-color),
			var(--background-color) 6px,
			var(--background-stripe-color) 7px
		);
		width: 100%;
		height: 100%;
		border: 3px solid #e3b637;
		border-radius: 10px;
		display: grid;
		grid-template: 1fr / 1fr;
		place-items: center;
		overflow: hidden;
		box-shadow: inset 0px 0px 7px black, 0 0 0px 1.5px black;

		& > * {
			grid-column: 1 / 1;
			grid-row: 1 / 1;
		}

		.rank {
			color: #f8ff43;
			display: flex;
			justify-content: center;
			margin-bottom: auto;
			letter-spacing: 1px;
			text-shadow: 1px 0px black, -1px 0px black, 0px 1px black,
				0px -1px black;
			font-size: 11px;
			line-height: 16px;
			font-family: 'Rubik Mono One';
			padding-left: 3px;
		}
		.unit {
			background-image: var(--thumbnailUrl);
			background-size: contain;
			width: 100%;
			height: 100%;
			image-rendering: pixelated;
		}
		.cost {
			color: white;
			background-color: #4449;
			display: flex;
			justify-content: center;

			height: 16px;

			margin-top: auto;
			width: 100%;
			.indicator {
				font-size: 10px;
				display: flex;
				justify-content: center;
				/* align-items: center; */
				line-height: 17px;
				/* span:first-child {
					margin-right: 3px;
					line-height: 13px;
					text-shadow: 1px 1px black;
				} */
				.mineralIcon {
					width: 17px;
					margin-right: -1px;
					margin-top: -1px;
				}
			}
			.progress {
				width: 50px;
				background: #0009;
				margin-top: 3px;
				margin-bottom: 3px;
				height: 10px;
				border-radius: 24px;
				overflow: hidden;

				.progress-bar {
					height: 100%;
					background: #00d8e3;
				}
			}
		}
	}
}

/* ticker */
.controls-ticker {
	color: #777;
	font-family: monospace;
	position: absolute;
	top: 30px;
	background: black;
	padding: 0.2em 1em;
	user-select: none;
	min-width: 80px;
	white-space: pre;
	display: flex;
	justify-content: flex-end;
}
.screen-info {
	color: #777;
	font-family: monospace;
	position: absolute;
	top: 10px;
	background: black;
	padding: 0.2em 1em;
	user-select: none;
	min-width: 80px;
}

/* top */
.controls-top {
	position: absolute;
	top: 15px;
	width: 100vw;
	height: 50px;
	display: flex;
}
.controls-top .effects {
	display: flex;
	margin-right: auto;
	margin-left: 20px;
	gap: 11px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	.callFriend {
		color: #749bba;
		fill: currentColor;
		overflow: hidden;
		background: black;
		border: 2px solid currentColor;
		svg {
			width: 80%;
		}
	}
	.meteor {
		background: linear-gradient(180deg, #f0c367, #ff7300);
	}
	.iceStorm {
		background: linear-gradient(180deg, #83cdea, #248fee);
	}
	.tornado {
		background: linear-gradient(180deg, #f7a5f7, #cc2ecc);
	}
	.invincible {
		background: linear-gradient(0deg, #dada52, white);
	}
}
.controls-top .effects > div,
.controls-top .pause,
.controls-top .auto.button {
	background-color: #555;
	height: 100%;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 50%;
	box-shadow: 1px 1px 0px 2px black;
}
.controls-top .effects > div {
	font-size: 30px;
}
.controls-top .effects .disabled {
	filter: grayscale(1) brightness(0.5);
}
.controls-top .pause {
	margin-right: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 900;
}
/* prettier-ignore */
.controls-top .mineral {
	--text-outline-color: #0007;
	color: #f2f2f2;
	font-size: 28px;
	font-family: "Rubik Mono One", 'Courier New', Courier, monospace;
	letter-spacing: -2px;
	/* font-weight: 700;
	font-style: normal; */
	text-shadow: 
		-1px -1px 0 var(--text-outline-color), /* top */
		3px -1px 0 var(--text-outline-color),  /* right */
		-1px 3px 0 var(--text-outline-color),  /* left */
		3px 3px 0 var(--text-outline-color);   /* bottom */
	-webkit-font-smoothing: antialiased;
	margin-right: 25px;
	display: flex;
	align-items: center;
	span:first-child {
		text-shadow: 1px 2px 0 black, 0px -1px 0 black;
	}
	.currentAmount {
		margin-left: 0.25em;
		color: #70ddfb;
	}
	.mineralIcon {
		width: 35px;
		margin-right: -7px;
		margin-top: -4px;
	}
}
/* prettier-ignore */
.controls-top .auto.button {
	--text-outline-color: #0007;
	font-family: 'Rubik Mono One', 'Courier New', Courier, monospace;
	letter-spacing: -1px;
	position: absolute;
	top: 62px;
	font-size: 13px;
	box-shadow: 0 2px 2px 0 var(--text-outline-color), 2px 0 2px 0 var(--text-outline-color);
	border: 2px solid;
	background:#c3c2c26b;
	/* font-family: monospace; */
	opacity: 1;
	font-weight: 900;
	text-shadow: 
		1px 1px 0px var(--text-outline-color);   /* bottom */
}
/* prettier-ignore */
.controls-top .auto.button.active {
	--text-outline-color: #ffac00;
	border-color: white;
	color: #ffff97;
	box-shadow: 
		-1px -1px 5px var(--text-outline-color), /* top */
		1px -1px 5px var(--text-outline-color),  /* right */
		-1px 1px 5px var(--text-outline-color),  /* left */
		1px 1px 5px var(--text-outline-color);   /* bottom */
}

.controls-bottom .button {
	position: relative;
}

.controls-bottom .progress.vertical {
	z-index: 1;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 5px;
	margin-top: 0;
	margin-right: 3px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	mix-blend-mode: overlay;
	opacity: 0.6;
	transition: top 0s;
	top: 100%;
}
.controls-bottom .progress.blue {
	background: #17cdfc;
}
.controls-bottom .progress.orange {
	background: #ffe9be;
}

.progress.vertical.p-0 {
	top: 100%;
}
.progress.vertical.p-10 {
	margin-right: 6px;
	margin-left: 7px;
	top: 90%;
	transition: top 0.6s;
}
.progress.vertical.p-20 {
	top: 80%;
	transition: top 0.6s;
}
.progress.vertical.p-30 {
	top: 70%;
	transition: top 0.6s;
}
.progress.vertical.p-40 {
	top: 60%;
	transition: top 0.6s;
}
.progress.vertical.p-50 {
	top: 50%;
	transition: top 0.6s;
}
.progress.vertical.p-60 {
	top: 40%;
	transition: top 0.6s;
}
.progress.vertical.p-70 {
	top: 30%;
	transition: top 0.6s;
}
.progress.vertical.p-80 {
	top: 20%;
	transition: top 0.6s;
}
.progress.vertical.p-90 {
	top: 13%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	transition: top 0.6s;
}
.progress.vertical.p-100 {
	top: 0;
	margin-top: 5px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.press-start-2p-regular {
	font-family: 'Press Start 2P', system-ui;
	font-weight: 400;
	font-style: normal;
}

/* prettier-ignore */
.effects .progress {
	--progress-color: #ffa500c0;
	/* --progress-color: #333; */
	background: linear-gradient(
		to top,
		var(--progress-color) 0%,
		var(--progress-color) var(--progress),
		transparent var(--progress),
		transparent 100%
	);
	&.p-0 { --progress: 0%; }
	&.p-10 { --progress: 10%; }
	&.p-20 { --progress: 20%; }
	&.p-30 { --progress: 30%; }
	&.p-40 { --progress: 40%; }
	&.p-50 { --progress: 50%; }
	&.p-60 { --progress: 60%; }
	&.p-70 { --progress: 70%; }
	&.p-80 { --progress: 80%; }
	&.p-90 { --progress: 90%; }
	&.p-100 { --progress: 100%; }
}
