@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('/visuals/components.css');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

.font-smaller {
	font-size: 0.8em;
}
.hidden {
	display: none;
}

.background {
	background: #000b;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.info {
		text-align: center;
		color: white;
		font-size: 25px;
		letter-spacing: 6px;
	}
	.huge {
		margin-right: -10px;
		font-family: monospace;
		font-size: 110px;
		color: yellow;
		text-align: center;
		font-weight: 900;
		-webkit-text-stroke: 1.5px black;
		background: linear-gradient(
			to top,
			orange 25px,
			yellow 38px,
			yellow 90px,
			yellow 90px,
			white 110px
		);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.actions {
		display: flex;
		justify-content: center;
		margin-top: 22px;
		gap: 10px;
		button {
			width: 160px;
			color: white;
			padding: 10px;
			border: 1px solid black;
			border-radius: 7px;
			font-size: 20px;
		}
		.lose-continue {
			background: #18a318;
			span.icon {
				color: red;
			}
		}
		.lose-cancel {
			background: #13a7d9;
		}
	}
}

.flex-spacer {
	flex: 1;
}
