@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;

	--rows: 10% 27% 1fr;
	--dark-bar-top: 37%;
}

.background {
	background: url(./bg.png);
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	.bluebar {
		position: fixed;
		top: var(--dark-bar-top);
		height: 100px;
		width: 100%;
		background: #202944;
	}
}

.container {
	--inner-max-width: min(97vw, 840px);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: grid;
	grid-template-rows: var(--rows);
	grid-template-columns: 1fr 67% 1fr;
	overflow: hidden;
}
.main-header {
	grid-column: 1 / -1;
}
.sub-header {
	grid-column: 2 / 2;
}
.items-list {
	grid-row: 3;
	grid-column: 2 / 2;
}

.flex-spacer {
	flex: 1;
}

button {
	background: #1e2430;
	padding: 0.4em 0.6em;
	border-radius: 0.5em;
	color: #b3c7d1;
	text-transform: uppercase;
	border-color: #8facbb;
	font-family: 'Passion One', sans-serif;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 1px;
}

.main-header,
.sub-header,
.controls,
.team-slots,
.all-characters {
	box-sizing: border-box;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	max-width: var(--inner-max-width);
	margin-inline: auto;
	width: 100%;
	padding-top: 13px;
	.title-container {
		margin-top: -7px;
		display: flex;
		align-items: center;
		.back-button {
			width: 30px;
			height: 30px;
			background-color: yellow;
			border: 1px solid black;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			cursor: pointer;
		}
		.title {
			margin-left: 0.5em;
			color: #00c7ff;
			-webkit-text-stroke: 1px black;
			-webkit-text-fill-color: #00c7ff;
			font-size: 35px;
			letter-spacing: -1.5px;
			font-family: 'Passion One', sans-serif;
			font-weight: 400;
		}
	}
	.chooser {
		display: flex;
		position: fixed;
		left: 18vw;
		right: 18vw;
		width: 100%;
		max-width: 64vw;
		top: 11vh;
		justify-content: center;
		font-size: 18px;
		box-sizing: border-box;
		--dark-color: #27305a;
		.selected {
			color: white;
			box-shadow: none;
			background: var(--dark-color);
		}
		& > div {
			width: 20%;
			display: flex;
			justify-content: center;
			color: #456a92;
			padding-block: 0.35em;
			box-sizing: border-box;
			font-weight: 900;
			background: linear-gradient(180deg, #c2e7f8, #8ebcd1);
			border: 1px solid var(--dark-color);
		}
		& > div:nth-child(1) {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		& > div:nth-child(3) {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		& > div:last-child {
			margin-left: 10px;
			border-radius: 5px;
		}
	}
	.currency {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}
}

.sub-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.level-message {
		font-size: 1.25em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.level-name {
		color: #373535;
		font-size: 23px;
	}
	.rewards {
		display: flex;
		align-items: center;
		gap: 10px;
		flex: 1 1 100px;
		.label {
			color: #4c4b4b;
			max-width: 77px;
			text-align: end;
		}
		.reward-container {
			width: 190px;
			min-width: 190px;
			height: 60px;
			display: flex;
			flex-wrap: wrap;
			/* container-type: inline-size; */
			gap: 3px; /* Optional: adds space between items */
			overflow: hidden;

			& > div {
				display: flex;
				justify-content: center;
				align-items: start;
				width: 60px;
				height: 60px;
				background: grey;
				border-radius: 7px;
				overflow: hidden;
				img {
					width: 136%;
					margin-top: 3px;
					margin-left: 14%;
				}
			}
			&.doubleRow {
				gap: 2px;
				width: 150px;
				min-width: 150px;
				& > div {
					width: 28px;
					height: 28px;
				}
			}
		}
		.reward-more {
			color: #7d8f94;
			height: 60px;
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid currentColor;
			font-size: 35px;
			border-radius: 6px;
			background: linear-gradient(0deg, #77949c, #e0e0e0);
		}
	}
}

.items-list {
	height: 100%;
	.top-row {
		display: flex;
		& > div {
			flex: 1;
		}
		.team-label {
			display: flex;
			align-items: center;
			span {
				color: cyan;
				border: 1px solid;
			}
		}
		.team-selector {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #cfd4d7;
			padding-block: 3px;
			margin-top: -5px;
			select {
				font-size: 15px;
				padding-inline: 41px;
				margin: 0;
				padding-block: 3px;
				background: transparent;
				color: #597080;
				border-color: currentColor;
			}
			custom-select {
				margin-top: -10px;
				--select-bg-color: #cfd4d7;
				--select-border-color: #202944;
				--select-border-radius: 7px;
				--select-text-color: #333;
				--select-hover-bg-color: #afc4d0;
				--select-disabled-color: #ccc;
				--select-width: 190px;
				--select-active-bg-color: #afc4d0;
				--select-active-color: #333;
				--select-items-py: 8px;
				--select-closed-bg-color: #cfd4d7;
			}
		}
	}
	.bottom-row {
		display: flex;
		gap: 5px;
		justify-content: center;
		align-items: center;
		margin-top: 9px;
		& > div {
			width: 55px;
			aspect-ratio: 1 / 1;
			color: #020203;
			border: 1px solid;
			border-radius: 7px;
			background: #283252;
			box-shadow:
				inset 0 -3px #0000004f,
				inset 0 1px #fff2;
			overflow: hidden;
			display: flex;
			justify-content: center;
			img {
				margin-top: 5px;
				margin-right: auto;
				margin-left: auto;
				min-width: 56px;
				min-height: 61px;
			}
		}
		.filled {
			position: relative;
			background: #202944;
			box-shadow:
				0 0 black,
				inset 0 0 8px #000000ba;
			.stars {
				color: yellow;
				font-size: 10px;
				letter-spacing: -2px;
				display: flex;
				justify-content: center;
				position: absolute;
				left: 0;
				right: 0;
				top: 0px;
				-webkit-text-stroke: 0.75px black;
			}
			.level {
				color: white;
				font-size: 14px;
				display: flex;
				justify-content: center;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -2px;
				/* font-weight: 900; */
				background: #0005;
			}
		}
	}
	.effects {
		display: flex;
		height: 90px;
		gap: 5px;
		margin-top: 6px;
		padding-block: 6px;
		pointer-events: none;
		& > div {
			pointer-events: all;
			& > * {
				pointer-events: none;
			}
			flex: 1;
			background-color: #00c7ff6b;
			border-radius: 7px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.iconContainer {
				position: relative;
				.icon {
					/* font-size: 40px; */
					background: #266884;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 55px;
					aspect-ratio: 1 / 1;
					border-radius: 50%;
					/* color: white; */
					margin-top: 5px;
					fill: #7fc4e2;
				}
				.countBadge {
					position: absolute;
					right: 0;
					bottom: 0;
					background: red;
					color: yellow;
					width: 20px;
					aspect-ratio: 1 / 1;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					font-size: 12px;
					border: 1px solid black;
					font-weight: 600;
				}
			}
			.usageContainer {
				display: flex;
				margin-top: 5px;
				margin-bottom: 5px;
				align-items: center;
				input[type='checkbox'] {
					min-width: 18px;
					aspect-ratio: 1 / 1;
					appearance: none;
					background: #92d2ec;
					box-sizing: border-box;
					border: 1px solid #083f56;
					border-radius: 2px;
					color: black;
					&:checked {
						appearance: auto;
						accent-color: yellow;
						color: black;
						color-scheme: only dark;
					}
				}
			}
		}
	}
	.actions {
		display: flex;
		justify-content: space-around;
		& > div {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		button {
			background-color: #27bbe7;
			font-family: 'Passion One', sans-serif;
			color: white;
			font-size: 25px;
			min-width: 200px;
			padding-block: 7px;
			border: 0;
			box-shadow:
				inset 0 -5px #1496bd,
				inset 0 3px #fff3;
			border: 1px solid black;
		}
		.options {
			gap: 15px;
			justify-content: end;
			& > div {
				width: 36px;
				aspect-ratio: 1 / 1;
				color: white;
				border: 1px solid;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 11px;
				.largeFont {
					font-size: 17px;
					margin-left: 3px;
				}
				&.selected {
					background: #b3c4cf;
					box-shadow:
						0 0 17px white,
						0 0 11px orange;
				}
			}
			.speedDouble {
				margin-right: 25px;
			}
		}
	}
}
