.container {
	& > .controls {
		position: relative;

		.controlsContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: var(--inner-max-width);
			margin-inline: auto;
			width: 100%;
		}

		.total-characters {
			font-size: 14px;
			color: #e9c2aa;
			background: #a4815c;
			padding: 0.45em;
			border-radius: 7px;
			font-weight: bold;
			border: 2px solid #c8985e;
			border-bottom-color: #745836;
			border-right-color: #745836;
			margin-bottom: 2px;
		}
		button {
			margin-left: 10px;
			background: #a4815c;
			padding: 2px 0.6em;
			border-radius: 0.5em;
			color: #f6e2d5;
			text-transform: uppercase;
			border-color: #c8985e;
			font-family: 'Passion One', sans-serif;
			font-weight: 400;
			font-size: 17px;
			letter-spacing: 1px;
		}

		button.sameUnit.selected,
		button.sortBy.selected {
			background: #8b4e1c;
			color: yellow;
			border: 2px solid black;
		}
		button.sell.selected {
			background: red;
			color: white;
			border: 2px solid #800;
		}

		.sortBySelector {
			z-index: 1;
			pointer-events: none;
			visibility: visible;
			&.hidden {
				visibility: hidden;
			}
			position: absolute;
			top: 32px;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			.sortByContainer {
				--modal-bg: #f8f2dc;
				--button-bg: #e4dcb8;
				--button-text: #ae8e66;
				--button-active-bg: #b8a06f;
				--button-active-text: #582a02;

				border-radius: 7px;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				/* grid-template-columns: repeat(6, 1fr); */
				background: var(--modal-bg);
				padding: 10px;
				gap: 5px;
				border: 2px solid black;

				& > div {
					pointer-events: all;
					& > div {
						pointer-events: none;
					}
					background: var(--button-bg);
					color: var(--button-text);
					width: 104px;
					font-size: 13px;
					text-align: center;
					padding-block: 6px;
					border-radius: 5px;
					font-weight: 600;
					&.active {
						background: var(--button-active-bg);
						color: var(--button-active-text);
					}
				}
			}
		}

		.sellingContainer {
			--sellingHeight: 90px;
			position: absolute;
			top: calc(-1 * var(--sellingHeight) - 5px);
			left: 0;
			right: 0;
			height: var(--sellingHeight);
			background: #0006;
			display: flex;
			flex-direction: column;
			border-top: 2px solid black;
			&.hidden {
				display: none;
			}
			.closeButton {
				position: absolute;
				right: 7px;
				top: -46px;
				width: 37px;
				height: 37px;
				background: #0009;
				color: white;
				font-size: 25px;
				font-family: sans-serif;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				line-height: 20px;
				border: 2px solid black;
				box-sizing: border-box;
			}
			.sellingCount {
				display: flex;
				background: black;
				margin: auto;
				margin-left: 5px;
				margin-top: 5px;
				padding: 2px 6px;
				gap: 7px;
				border-radius: 7px;
				.sellingCountLabel {
					color: yellow;
				}
				.sellingCountAmount {
					color: white;
				}
			}
			.sellingList {
				width: 100%;
				overflow-y: auto;
			}
		}
	}

	& > .all-characters {
		z-index: 0;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 10px;
		white-space: nowrap;
		scrollbar-width: none;

		.emptyList {
			color: #998980;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width: 70px;
				fill: currentColor;
			}
		}

		&.sellMode {
			.character-card {
				.selectorInfo {
					z-index: 9;
					&.locked svg {
						fill: #31ff31;
					}
					&.info {
						border: 2px solid #31ff31;
						aspect-ratio: 1/1;
						border-radius: 50%;
						box-sizing: border-box;
						svg {
							display: none;
						}
					}
				}
				&.selectedForSell {
					&:after {
						border: 3px solid #32ff32;
					}
					.selectorInfo.info:after {
						content: '✔';
						color: #31ff31;
						width: 100%;
						font-size: 0.8em;
						display: flex;
						align-items: center;
						justify-content: center;
						background: #8a0404;
						border-radius: 50%;
					}
				}
				&:after {
					content: '';
					background: #0008;
					position: absolute;
					left: -3px;
					right: -3px;
					top: -3px;
					bottom: -3px;
					border-radius: 9px;
				}
				&.used {
					overflow: visible;
					filter: unset;
					&:before {
						display: none;
					}
				}
			}
		}

		.character-card {
			position: relative;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			width: 180px;
			height: 100%;
			border-radius: 10px;
			text-align: center;
			margin-right: 10px;
			border: 3px solid gold;
			box-sizing: border-box;
			background: linear-gradient(
				223deg,
				#6128aa 0%,
				#4a1566 25%,
				#896ba4
			);
			box-shadow: inset 0 0 10px 1px #0d158d;
			color: white;

			&:not(.used) {
				.icon img {
					touch-action: pan-x;
				}
			}

			.selectorInfo {
				position: absolute;
				right: 7px;
				top: 6px;
				width: 20px;
				&.info svg {
					fill: #9759df;
					path:first-child {
						fill: #572477 !important;
					}
				}
				&.locked svg {
					fill: #a268e5;
				}
			}

			.stars {
				color: yellow;
				margin-top: 5px;
			}
			.info {
				display: flex;
				flex: 1;
				max-width: 100%;
				.icon {
					width: 100px;
					aspect-ratio: 1 / 1;
					margin-left: 10px;
					overflow: hidden;
					margin-bottom: 10px;
					margin-top: auto;
					border-radius: 7px;
					background: linear-gradient(0deg, #0003, #0008);
					img {
						margin-left: -3px;
						margin-top: 10px;
						width: 90px;
					}
				}
				.details {
					width: 95px;
					margin-left: 10px;
					margin-right: 8px;
					overflow: hidden;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin-top: 10px;
					margin-bottom: 10px;
					.name,
					.level {
						padding-bottom: 3px;
						margin-bottom: 4px;
						box-shadow: 0 1px #0006, 0 2px #fff2;
					}
					.mineral-icon {
						/* overflow: hidden; */
						width: 15px;
						height: 15px;
						svg {
							width: 23px;
							margin-top: -4px;
							margin-left: -3px;
						}
					}
				}
			}
		}
		.character-card.dragging {
			opacity: 0.5;
		}
		.character-card.used {
			filter: brightness(0.7);
			position: relative;
			overflow: hidden;
			&:before {
				position: absolute;
				content: 'IN USE';
				background-color: #0099ff;
				color: white;
				width: 90px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: rotate(-45deg);
				left: -26px;
				top: 6px;
				font-size: 10px;
				font-weight: 600;
			}
		}
	}
}
