@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

body > .background {
	background: url(./bg.png);
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.container {
	--inner-max-width: min(97vw, 840px);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: grid;
	grid-template-rows: 14% 6% 63%;
	overflow: hidden;
}

.flex-spacer {
	flex: 1;
}

button {
	background: #0a9c27;
	padding: 0.4em 0.6em;
	border-radius: 0.5em;
	color: white;
	text-transform: uppercase;
	border-color: #098404;
	font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.main-header,
.sub-header {
	box-sizing: border-box;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	max-width: var(--inner-max-width);
	margin-inline: auto;
	width: 100%;
	padding-top: 13px;
	.title-container {
		margin-top: -7px;
		display: flex;
		align-items: center;
		.back-button {
			width: 30px;
			height: 30px;
			background-color: yellow;
			border: 1px solid black;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			cursor: pointer;
		}
		.title {
			margin-left: 0.5em;
			color: #00c7ff;
			-webkit-text-stroke: 1.5px black;
			-webkit-text-fill-color: #00c7ff;
			font-size: 35px;
            letter-spacing: -2px;
            font-family: "Concert One", sans-serif;
            font-weight: 400;
		}
	}
	.currency {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}
}

.sub-header {
	display: flex;
	align-items: center;
	padding-inline: 1em;
	gap: 0.5em;
	color: #90adbc;
	.total {
		margin-right: 0.8em;
	}
}

.upgrades-list {
	height: 100%;
	overflow-x: auto;
	display: flex;
	width: 100%;
	gap: 1em;
	padding-left: 1em;
	padding-right: 1em;
	box-sizing: border-box;
	padding-bottom: 0.5em;
	scrollbar-width: none;

	.upgrade {
		position: relative;
		overflow: hidden;
		box-sizing: border-box;
		height: 100%;
		min-width: 260px;
		background: #967441;
		border: 2px solid black;
		border-radius: 20px;
		box-shadow: 1px 2px 0px 2px black;

		.background,
		.content {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		.background {
			opacity: 0.4;
			background: linear-gradient(
				0deg,
				#d9b387 20%,
				#cf9d69 20%,
				#cf9d69 40%,
				#d9b387 40%,
				#d9b387 60%,
				#cf9d69 60%,
				#cf9d69 80%,
				#d9b387 80%
			);
			background-size: 20px 20px;
		}
		.content {
			display: flex;
			padding: 0.5em;
			box-sizing: border-box;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			font-family: "Concert One", sans-serif;
			font-weight: 400;

			.title {
				/* margin-top: 10px; */
                font-size: 32px;
                letter-spacing: -2px;
                font-family: "Concert One", sans-serif;
                -webkit-text-stroke: 1.5px black;
                color: yellow;
				font-weight: 500;
			}
			.level {
				margin-top: 10px;
				margin-bottom: auto;
				background: #666666;
				padding: 0.25em 0.5em;
				border-radius: 7px;
				color: white;
				min-width: 97px;
				display: flex;
				justify-content: center;
				font-family: monospace;
			}
			.details {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				margin-bottom: 1em;
				.icon {
					background: grey;
					width: 100px;
					height: 100px;
					min-width: 100px;
					border-radius: 50%;
					margin-left: 0;
					margin-right: auto;
				}
				.description {
					max-width: 100px;
					margin-left: auto;
					margin-right: 0;
					color: #f5d289;
				}
			}
		}
	}
}
