@import url('/vendor/google.fonts.css');
@import url('/visuals/components.css');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

.font-smaller {
	font-size: 0.8em;
}
.toggleContainer {
	display: flex;
	.labeledToggle {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		.label {
			font-size: 17px;
			margin-bottom: 8px;
			white-space: nowrap;
		}
	}
}

.background {
	background: #000b;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.container {
	position: fixed;
	top: 2vh;
	bottom: -1vh;
	left: 30vh;
	right: 30vh;
	/* overflow: hidden; */
	.info {
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		color: white;
		display: flex;
		justify-content: end;
		font-size: 13px;
		align-items: center;
		padding-inline: 10px;
	}
	.close-button {
		position: absolute;
		right: -11px;
		top: 0;
		background: yellow;
		font-weight: 900;
		width: 27px;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		user-select: none;
		border: 2px solid black;
		z-index: 999;
	}
	.container-bg {
		position: absolute;
		left: 0;
		top: 10px;
		bottom: 16px;
		right: 0;
		background: #905527;
		z-index: -1;
		border-radius: 10px;
		box-sizing: border-box;
		border: 2px solid black;
	}
	.content {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 18px;
		bottom: 10px;
		left: 2px;
		right: 2px;

		.header,
		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.header {
			padding-bottom: 6px;
			.title {
				margin-left: 20px;
				color: yellow;
				-webkit-text-stroke: 1.5px black;
				-webkit-text-fill-color: yellow;
				font-size: 35px;
				letter-spacing: -1.5px;
				font-family: 'Passion One', sans-serif;
				font-weight: 400;
			}
			.chooser {
				display: flex;
				justify-content: end;
				font-size: 18px;
				box-sizing: border-box;
				--dark-color: #482414;
				flex: 1;
				margin-right: 35px;
				margin-left: 35px;
				min-height: 35px;
				.selected {
					color: yellow;
				}
				& > div {
					width: 35%;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					line-height: 16px;
					color: #402612;
					padding-block: 5px;
					padding-inline: 20px;
					box-sizing: border-box;
					font-weight: 900;
				}
				& > div:first-child {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
				& > div:last-child {
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
		}
		.items-list {
			overflow-y: auto;
			box-sizing: border-box;
			background-color: #905527;
			display: flex;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			flex: 1;
			.tab-pane:not(.selected) {
				display: none !important;
			}
			.tab-pane {
				width: 100%;
				padding: 0px 20px;
				box-sizing: border-box;
				.switch {
					--background: #492413;
					--foreground: #905527;
					--focus: #492413;
					--checked-bg: orange;
					--checked-fg: yellow;
				}
				button {
					background: transparent;
					border: 2px solid #4c2615;
					height: 58px;
					box-shadow: inset 0px 2px #ffffff30;
				}

				button.header-button {
					padding: 10px;
					background: #5fbd5a;
					border: 2px solid #948e8c;
					height: 50px;
					color: white;
					box-shadow: inset 0px 2px #dddddd30;
				}

				button.col-button {
					background: #deec5a;
					border: 2px solid #948e8c;
					height: 75px;
					width: 100px;
					color: rgb(92, 67, 67);
					box-shadow: inset 0px 2px #dddddd30;
				}
				button.with-icon {
					padding-left: 54px;
					text-align: left;
					position: relative;
				}
				button.with-icon:before {
					content: '';
					position: absolute;
					left: 10px;
					top: 0;
					bottom: 0;
					font-size: 30px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color: #4c2615;
				}
				button.with-icon.placeholder-icon:before {
					content: '⁇';
				}
			}
			.tab-pane.notice {
				display: flex;
				flex-direction: column;
				background-color: white;
				overflow-y: auto;
				overflow-x: hidden;
				margin: 1em;
				box-sizing: border-box;
				margin-top: 0;
				gap: 10px;
				pointer-events: none;

				.noticeContainer {
					pointer-events: all;
					& > * {
						pointer-events: none;
					}
					.noticeContent {
						display: block;
						padding-top: 20px;
						padding-bottom: 20px;
						font-family: sans-serif;
						font-size: 12px;
						border-top: 0.2px solid #ccc;
						border-bottom: 0.2px solid #ccc;
					}
					.noticeContent.closed {
						display: none;
					}
					.noticeTitleRow {
						display: flex;

						.noticeTitleBox {
							flex: 1;
							.noticeTitle {
								padding-top: 10px;
								font-weight: 800;
								color: #d17527;
								font-size: 16px;
							}
							.noticeDate {
								padding-top: 3px;
								padding-bottom: 10px;
								color: grey;
								font-family: sans-serif;
								font-size: 12px;
							}
						}
						.noticeCollapser {
							padding-top: 10px;
							min-width: 2em;
						}

						.noticeCollapser:before {
							content: '▲';
						}
						.noticeCollapser.closed:before {
							content: '▼';
						}
					}
				}
			}
			.tab-pane.schedule {
				display: flex;
				flex-direction: column;
				background-color: white;
				overflow-y: hidden;
				overflow-x: hidden;
				margin: 1em;
				box-sizing: border-box;
				margin-top: 0;
				gap: 10px;
				pointer-events: none;
				padding: 0;
			}
			.tab-pane.game {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-auto-rows: max-content;
				gap: 10px;
			}
			.tab-pane.alert {
				display: grid;
				padding: 20px 32px;
				grid-template-columns: 1fr 1fr 1fr;
				.explain {
					color: #d8d833;
					margin-top: 6px;
				}
			}
			.tab-pane.account {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.footer {
			padding-top: 6px;
			& > div {
				flex: 1;
				display: flex;
				justify-content: center;
			}
			.actions {
				margin-right: 20px;
				justify-content: end;
			}
			.total {
				span {
					background: #0003;
					color: hsl(26 33% 53% / 1);
					padding: 5px 9px;
					margin-inline: auto;
					font-family: 'Passion One';
					letter-spacing: 3px;
					border-radius: 5px;
				}
			}
		}
	}
}

.flex-spacer {
	flex: 1;
}

button {
	background: yellow;
	padding: 0.2em;
	border-radius: 0.5em;
	color: #4c2615;
	text-transform: uppercase;
	border-color: #492413;
	font-family: 'Passion One', sans-serif;
	font-weight: 400;
	font-size: 19px;
	letter-spacing: 1px;
	min-width: 130px;
}

.main-header,
.sub-header,
.controls,
.team-slots,
.all-characters {
	box-sizing: border-box;
}

.image-container {
	display: flex;
	flex: 1;
	margin-top: 0px;
}

.random-image img {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 142px; /* Adjust size as needed */
	height: 48%;
	border: 2px solid #905527;
	border-radius: 5px;
}

.image-slideshow {
	position: relative;
	width: 100%; /* Adjust width as needed */
	height: 300px; /* Adjust height as needed */
	overflow: hidden;
	border: 2px solid #905527;
	border-radius: 5px;
}

.image-slideshow img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 1s ease-in-out;
	opacity: 0;
}

.image-slideshow img:first-child {
	opacity: 1;
}

/* for schedule page */

.header-button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #04aa6d;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.stickyColHeader {
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	position: -webkit-sticky; /* For Safari */
	position: sticky;
	left: 0;
	background-color: #f2f2f2;
	z-index: 4; /* Ensures the sticky column is above other columns */
	box-shadow: inset -1px 0px 0px 0px black;
}
.stickyCol {
	display: flex;
	justify-content: center;
	align-items: center;
	position: -webkit-sticky; /* For Safari */
	position: sticky;
	left: 0;
	background-color: #f2f2f2;
	z-index: 2; /* Ensures the sticky column is above other columns */
	box-shadow: inset -1px 0px 0px 0px black;
}
.stickyColHeader,
.stickyCol {
	min-width: 150px;
}

.schedule-table-container {
	overflow: auto;
	pointer-events: all;
}

table {
	border-collapse: collapse;
	text-align: left;
	background-color: #fff;
	/* table-layout: fixed; */
}

th {
	box-shadow: inset 0px -1px 0px 0px #0003;
	margin-bottom: 2px;
	padding: 10px;
}
td {
	box-shadow: inset -1px 0px 0px 0px tan;
	height: 80px;
	margin: 0;
	padding: 0;
}

th,
td {
	border: 0px solid black;
	box-sizing: border-box;
}

thead th {
	position: sticky;
	top: 0;
	background-color: #f39c12;
	color: rgb(90, 67, 25);
	z-index: 3;
}

tbody td {
	background-color: #e3e3e3;
}

.event-bar {
	/* background-color: #f39c12; */
	color: white;
	text-align: center;
	font-weight: bold;
}

.event-bar[colspan='4'],
.event-bar[colspan='6'] {
	/* background-color: #e74c3c; */
}

.eventBlock {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid black;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	background: #ecdc4f;
	color: #825961;
}

/*for attendance*/

.event-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #f5deb3;
	border-radius: 15px;
	width: 100%;
	height: 94%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px;
}
.grid-item {
	background-color: white;
	width: 50px;
	border-radius: 10px;
	padding: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.grid-item img {
	width: 50px;
	height: 35px;
	background-color: white;
}
.grid-item span {
	margin-top: 5px;
	font-size: 12px;
	color: #555;
}
.time-remaining {
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}
