body {
	font-family: Arial, sans-serif;
	background-color: #000000;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	padding: 20px;
	text-align: center;
}
.container h1 {
	color: #ffffff;
}
.container h3 {
	color: #ffffff;
	font-weight: 100;
	font-size: 14px;
}
.container form {
	display: flex;
	flex-direction: column;
}
.container input {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #dddddd;
	border-radius: 5px;
}
.container button {
	padding: 10px;
	background-color: #18ad18;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
