* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	padding: 0;
	border: 0;
	margin: 0;
	height: 100%;
	background: #3c3c3c;
	box-sizing: border-box;
	-ms-touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	color: #fff;
	font-weight: 100;
	font: 80%/1.65 Verdana, 'Geneva CE', lucida, 'Microsoft YaHei', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	background: #555;
	image-rendering: pixelated;
	zoom: 4;
}
