body {
	margin: 0;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 2em;
	font-family: monospace;
}

.background-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: -1;
	margin: 0;
	pointer-events: none;
	#backgroundSVG {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 100vh;
		width: calc(100vh * (16 / 9));
		min-width: 100%;
		max-width: none;
	}
}

.listSelector,
.list,
.unitInfo,
.unitGear,
.unitThumbnail,
.unitEmpty {
	position: absolute;
	display: flex;
	flex-direction: column;
	color: white;
	opacity: 0.5;
	font-size: 16px;
	justify-content: center;
	align-items: center;
	padding: 7px;
	box-sizing: border-box;
}

.listSelector {
	opacity: 1;
	/* background: #6b6449; */
	top: 8.35vh;
	right: 21.7vw;
	width: 23.8vw;
	height: 18vh;
	justify-content: end;
	color: #1d160f;
	.tabContainer {
		display: flex;
		gap: 3px;
		width: 100%;
		margin-bottom: -5px;
		pointer-events: none;
		.tab:first-child {
			transform: rotateZ(-16deg);
		}
		.tab:nth-child(2) {
			transform: translateY(-10px);
		}
		.tab:last-child {
			transform: rotateZ(16deg);
		}
		.tab {
			flex: 1;
			height: 30px;
			display: flex;
			justify-content: center;
			pointer-events: all;
			color: #241507;
			border: 1px solid currentColor;
			& > * {
				pointer-events: none;
			}
			&.selected {
				background: #0003;
				svg {
					fill: yellow;
				}
			}
			svg {
				width: 25px;
				fill: currentColor;
			}
		}
	}
}
.list {
	opacity: 1;
	/* background: rgb(1, 87, 173); */
	top: 27.35vh;
	right: 13.75vw;
	width: 38vw;
	height: 61vh;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content min-content min-content;
	align-items: start;
	gap: 10px;
	padding: 15px;

	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	pointer-events: none;

	.listItem {
		height: 50px;
		display: flex;
		gap: 10px;
		background: #9993;
		box-sizing: border-box;
		font-size: 13px;
		pointer-events: all;
		& > * {
			pointer-events: none;
		}
		&.used {
			filter: brightness(0.5);
		}
		.grade {
			color: yellow;
		}
		.icon {
			height: auto;
			aspect-ratio: 1 / 1;
			background: #d8d8d833;
			margin: 3px;
			box-sizing: border-box;
			img {
				width: 100%;
			}
		}
	}
}
.unitSelected {
	&.hidden {
		display: none;
	}
	.unitInfo {
		opacity: 1;
		/* background: #8c2457; */
		right: 59.75vw;
		top: 11vh;
		width: 27.5vw;
		height: 27.5vh;
		justify-content: end;
		color: white;
	}
	.unitGear {
		right: 59.75vw;
		top: 39.5vh;
		width: 27.5vw;
		height: 19.5vh;
		flex-direction: row;
		gap: 10px;
		padding: 0;
		pointer-events: none;
		& > div {
			background: #000000;
			flex: 1;
			aspect-ratio: 1 / 1;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow:
				inset 0 0 0px 8px #5c5c5c,
				0 0 0px 3px black;
			pointer-events: all;
			& > * {
				pointer-events: none;
			}
			img {
				width: 80%;
			}
		}
	}
	.unitThumbnail {
		opacity: 1;
		/* background: #994b03; */
		right: 59.75vw;
		top: 64vh;
		width: 27.5vw;
		height: 29.5vh;
		justify-content: end;
		padding: 0;
		img {
			width: 40%;
		}
	}
}
.unitEmpty {
	user-select: none;
	opacity: 1;
	padding: 0;
	&.hidden {
		display: none;
	}
	right: 59.5vw;
	top: 11vh;
	width: 27.5vw;
	height: 83vh;
	justify-content: space-between;
	align-items: center;

	button {
		--button-light: #fed713;
		--button-text: #5c2806;
		--button-dark: #e5b22c;
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
		border: 1px solid black;
		border-radius: 7px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 8px;
		padding-bottom: 12px;
		padding-inline: 12px;
		background: var(--button-light);
		color: var(--button-text);
		box-shadow:
			inset 0 -5px var(--button-dark),
			inset 0 2px #fff9;
		font-size: 15px;
		font-weight: 900;
	}

	.selectContainer {
		margin-top: 35%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.message {
			width: 200px;
			display: flex;
			align-items: center;
			text-align: center;
			margin-bottom: 25px;
			.line {
				height: 2px;
				width: 20%;
				background: white;
			}
		}
	}
	.unitOutline {
		width: 110px;
		path {
			stroke: #fff7;
			fill: #13181b;
			stroke-miterlimit: 15;
			stroke-linecap: square;
			stroke-width: 5px;
			stroke-dasharray: 8;
		}
	}
}
