@import url('/vendor/google.fonts.css');
@import url('/visuals/components.css');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

.hidden {
	display: none;
}

.field {
	height: 58px;
	border-radius: 0.5em;
	background: #b39466;
	border: 1.5px solid black;
	font-family: 'Passion One', sans-serif;
	font-weight: 400;
	font-size: 19px;
	letter-spacing: 1px;
	padding-inline: 1em;
	color: #47370f;
}

.field::placeholder {
	color: #7a5f32;
	opacity: 1;
}

.field:focus {
	outline: none;
	border-color: #ffd279;
	box-shadow: 0 0 0 2px #ffe4b8;
}

.font-smaller {
	font-size: 0.8em;
}
.toggleContainer {
	display: flex;
	.labeledToggle {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		.label {
			font-size: 17px;
			margin-bottom: 8px;
			white-space: nowrap;
		}
	}
}

.background {
	background: #000b;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.container {
	position: fixed;
	top: 7vh;
	bottom: 12vh;
	left: 43vh;
	right: 43vh;
	/* overflow: hidden; */
	.info {
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		color: white;
		display: flex;
		justify-content: end;
		font-size: 13px;
		align-items: center;
		padding-inline: 10px;
		& > span {
			white-space: pre;
		}
	}
	.close-button {
		position: absolute;
		right: -11px;
		top: 0;
		background: yellow;
		font-weight: 900;
		width: 27px;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		user-select: none;
		border: 2px solid black;
		z-index: 999;
	}
	.container-bg {
		position: absolute;
		left: 0;
		top: 10px;
		bottom: 16px;
		right: 0;
		background: #6f371f;
		z-index: -1;
		border-radius: 10px;
		box-sizing: border-box;
		border: 2px solid black;
	}
	.content {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 18px;
		bottom: 18px;
		left: 2px;
		right: 2px;

		.header,
		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.header {
			padding-bottom: 6px;
			.title {
				margin-left: 20px;
				color: yellow;
				-webkit-text-stroke: 1.5px black;
				-webkit-text-fill-color: yellow;
				font-size: 35px;
				letter-spacing: -1.5px;
				font-family: 'Passion One', sans-serif;
				font-weight: 400;
			}
			.chooser {
				display: flex;
				justify-content: end;
				font-size: 18px;
				box-sizing: border-box;
				--dark-color: #482414;
				flex: 1;
				margin-right: 35px;
				margin-left: 35px;
				min-height: 35px;
				.selected {
					color: yellow;
					box-shadow: none;
					background: var(--dark-color);
				}
				& > div {
					width: 35%;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					line-height: 16px;
					color: white;
					padding-block: 5px;
					padding-inline: 20px;
					box-sizing: border-box;
					font-weight: 900;
					background: linear-gradient(180deg, #886135, #785830);
					border: 1px solid var(--dark-color);
				}
				& > div:first-child {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
				& > div:last-child {
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
		}
		.items-list {
			overflow-y: auto;
			box-sizing: border-box;
			background-color: #905527;
			display: flex;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			flex: 1;
			.tab-pane:not(.selected) {
				display: none !important;
			}
			.tab-pane {
				width: 100%;
				padding: 20px 42px;
				.switch {
					--background: #492413;
					--foreground: #905527;
					--focus: #492413;
					--checked-bg: orange;
					--checked-fg: yellow;
				}
				button {
					background: transparent;
					border: 2px solid #4c2615;
					height: 58px;
					color: white;
					box-shadow: inset 0px 2px #ffffff30;
				}
				button.with-svg-icon {
					display: flex;
					align-items: center;
					.svgIconContainer {
						fill: white;
						width: 1em;
						margin-inline: 11px;
					}
				}
				button.with-icon {
					padding-left: 54px;
					text-align: left;
					position: relative;
				}
				button.with-icon:before {
					content: '';
					position: absolute;
					left: 10px;
					top: 0;
					bottom: 0;
					font-size: 30px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color: #4c2615;
				}
				button.with-icon.placeholder-icon:before {
					content: 'â‡';
				}
			}
			.tab-pane.notice {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-auto-rows: max-content;
				gap: 10px;
			}
			.tab-pane.game {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-auto-rows: max-content;
				gap: 10px;
			}
			.tab-pane.alert {
				display: grid;
				padding: 20px 32px;
				grid-template-columns: 1fr 1fr 1fr;
				.explain {
					color: #d8d833;
					margin-top: 6px;
				}
				.testAlert {
					grid-column: 1 / -1;
					display: flex;
					justify-content: center;
					align-items: end;
					gap: 1em;
					button {
						height: 30px;
					}
				}
			}
			.tab-pane.account {
				display: flex;
				justify-content: start;
				flex-direction: column;
				align-items: start;
				color: #e9bf8f;
				white-space: pre;
				button.logout {
					margin-top: auto;
					margin-left: auto;
				}
			}
		}
		.footer {
			padding-top: 6px;
			& > div {
				flex: 1;
				display: flex;
				justify-content: center;
			}
			.actions {
				margin-right: 20px;
				justify-content: end;
			}
			.total {
				span {
					background: #0003;
					color: hsl(26 33% 53% / 1);
					padding: 5px 9px;
					margin-inline: auto;
					font-family: 'Passion One';
					letter-spacing: 3px;
					border-radius: 5px;
				}
			}
		}
	}
}

.flex-spacer {
	flex: 1;
}

button {
	background: yellow;
	padding: 0.2em;
	border-radius: 0.5em;
	color: #4c2615;
	text-transform: uppercase;
	border-color: #492413;
	font-family: 'Passion One', sans-serif;
	font-weight: 400;
	font-size: 19px;
	letter-spacing: 1px;
	min-width: 130px;
}

.main-header,
.sub-header,
.controls,
.team-slots,
.all-characters {
	box-sizing: border-box;
}

#debugUrl {
	grid-column: 1 / -1;
}
