@import url('/vendor/google.fonts.css');
@import url('/visuals/components.css');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

.hidden {
	opacity: 0;
}

.font-smaller {
	font-size: 0.8em;
}

.flex-spacer {
	flex: 1;
}

.background {
	background: #0001;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.container {
	--padding-inline: 12px;
	color: #4a3b1d;
	position: fixed;
	top: 83px;
	left: 50px;
	background: #ffe25c;
	border: 2px solid #d6ae3c;
	border-radius: 5px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
	display: grid;
	grid-template-rows: repeat(3, auto);
	max-width: 95vw;
}

.container .current-rank,
.container .info {
	min-height: 34px;
}

.container .current-rank {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffd644;
	padding: 6px var(--padding-inline);
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.container .current-rank .levelInfo {
	display: flex;
	align-items: center;
	gap: 6px;
}

.container .current-rank .levelInfo > div {
	display: flex;
	flex-direction: column;
	line-height: 1.1;
	font-size: 0.85em;
}

.container .current-rank .gradeIcon {
	width: 24px;
	height: 28px;
	background: #2e3a65;
	border-radius: 4px;
}

.container .current-rank .gradeLevelInfo {
	font-weight: bold;
	font-size: 1em;
}

.container .close-button {
	cursor: pointer;
	font-weight: bold;
	font-size: 1.1em;
	color: #4a3b1d;
	padding: 0 4px;
}

.container .info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 6px var(--padding-inline);
	font-weight: 600;
	color: #957531;
	font-size: 0.8em;
	text-align: center;
	padding-block: 1em;
}

.container .progress {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 6px;
	padding: 7px 14px 17px 9px;
}

.flag-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	transform-origin: top center;
}

.arrow-block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 22px;
}

.arrow-block svg {
	width: 14px;
	height: 14px;
}

.scale-1 {
	transform: scale(0.88);
}
.scale-2 {
	transform: scale(0.92);
}
.scale-3 {
	transform: scale(0.96);
}
.scale-4 {
	transform: scale(1);
}
.scale-5 {
	transform: scale(1.06);
}
