@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('/visuals/components.css');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

.font-smaller {
	font-size: 0.8em;
}

.flex-spacer {
	flex: 1;
}

button {
	background: yellow;
	padding: 0.2em;
	border-radius: 0.5em;
	color: #4c2615;
	text-transform: uppercase;
	border-color: #492413;
	font-family: 'Passion One', sans-serif;
	font-weight: 400;
	font-size: 19px;
	letter-spacing: 1px;
	min-width: 130px;
}
body {
	& > .background {
		background: #000b;
		background-size: 100% 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
}

.container.loading {
	.content {
		display: none;
	}
}

.container {
	user-select: none;
	position: fixed;
	top: 2vh;
	bottom: -1vh;
	left: 30vh;
	right: 30vh;
	.closeButton {
		position: absolute;
		right: -11px;
		top: 0;
		background: yellow;
		font-weight: 900;
		width: 27px;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		user-select: none;
		border: 2px solid black;
		z-index: 3;
	}
	.containerBg {
		position: absolute;
		left: 0;
		top: 10px;
		bottom: 16px;
		right: 0;
		background: #fdf6e2;
		z-index: -1;
		border-radius: 10px;
		box-sizing: border-box;
		border: 2px solid black;
	}
	.content {
		font-size: 14px;
		position: absolute;
		display: grid;
		grid-template-columns: 37% 63%;

		color: #6c1515;

		top: 12px;
		bottom: 18px;
		left: 2px;
		right: 2px;

		.left,
		.right {
			padding: 15px;
			display: flex;
			flex-direction: column;
		}

		.blackTextOutline {
			text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black,
				0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
		}

		.circle {
			width: 15px;
			height: 15px;
			font-size: 0.95em;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid black;
		}
		.circle.icon {
			background: green;
			color: white;
		}
		.circle.help {
			background-color: red;
			color: yellow;
		}

		.pill {
			border-radius: 10px;
			background: grey;
			color: white;
			padding-inline: 7px;
			&.purple {
				background: #c921c9;
				color: yellow;
			}
		}

		.group {
			background: #f5e7c7;
			border-radius: 7px;
			padding: 5px 10px;

			label {
				opacity: 0.6;
			}
		}

		.actions {
			display: flex;
			justify-content: space-between;
			gap: 0.5em;
			button {
				min-width: unset;
				height: auto;
				flex: 1;
				font-size: 1.3em;
				line-height: 1em;
				padding-block: 0.2em;
				&.levelUp {
					background: red;
					color: white;
				}
				&.potentialUp {
					background: #4bc7f7;
					color: white;
				}
				&.ultraEvolve {
					background: rgb(56, 57, 113);
					color: white;
				}
				&.hyperEvolve {
					background: rgb(201, 7, 194);
					color: white;
				}
			}
		}

		.left {
			box-sizing: border-box;
			grid-column: 1;
			display: grid;
			grid-template-rows: repeat(3, min-content) 1fr min-content min-content;
			gap: 10px;
			border-right: 1px solid black;
			align-items: center;

			position: relative;
			overflow: hidden;
			& > .loading {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: #fdf6e2;
				z-index: 1;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			}

			& > .stars,
			& > .name,
			& > .element,
			& > .character {
				display: flex;
				justify-content: center;
			}
			.stars {
				color: yellow;
			}
			& > .name {
				flex-direction: column;
				align-items: center;
				margin-top: -5px;
				.second {
					text-transform: uppercase;
				}
			}
			& > .element {
				margin-top: -6px;
				gap: 5px;
				justify-content: center;
				margin-right: auto;
				margin-left: auto;
			}
			& > .character {
				position: relative;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				max-width: 77%;
				margin-inline: auto;

				.background {
					position: absolute;
					left: 3px;
					right: 3px;
					top: 3px;
					bottom: 3px;
					background: #333;
					opacity: 0.3;
					z-index: -1;
					box-shadow: inset 0 0 15px 10px #fdf6e2;
				}
				.image {
					width: 105px;
					height: 92%;
					margin: auto;
					border-radius: 12px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					image-rendering: auto;
					image-rendering: -webkit-optimize-contrast;
					image-rendering: -moz-crisp-edges;
				}
			}
			& > .gear {
				width: 100%;
				height: 50px;
				display: flex;
				gap: 10px;
				& > div {
					flex: 1;
					background-color: #212d39;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 7px;
				}
				.more {
					max-width: 29px;
					aspect-ratio: 1 / 1;
					margin: auto;
					color: #8d2121;
					background: yellow;
					box-sizing: border-box;
					border: 2px solid #0002;
					font-weight: 900;
				}
			}
		}
		.right {
			padding-right: 18px;
			grid-column: 2;
			display: grid;
			grid-template-rows: min-content min-content min-content 1fr min-content;
			gap: 10px;
			box-sizing: border-box;

			position: relative;
			overflow: hidden;
			& > .loading {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: #fdf6e2;
				z-index: 1;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}

			& > .rowOne {
				display: flex;
				align-items: center;
				justify-content: space-between;
				& > .level {
					font-weight: 900;
					color: #6c1515;
					margin-right: 10px;
					font-size: 1.1em;
				}
				& > .cap {
					margin-right: auto;
					padding-block: 2px;
					font-weight: 900;
					&.hidden {
						visibility: hidden;
					}
				}
				& > .percent {
					flex: 1;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-inline: 10px;
					border-radius: 20px;
					border: 1px solid #ba974a;
					overflow: hidden;
					padding-block: 1px;
					max-width: 125px;
					.number {
						color: yellow;
						z-index: 2;
					}
					.bar {
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						background-color: #4bc7f7;
					}
					/* prettier-ignore */
					.bar {
						&.fill-0 { right: 100%; }
						&.fill-10 { right: 90%; }
						&.fill-20 { right: 80%; }
						&.fill-30 { right: 70%; }
						&.fill-40 { right: 60%; }
						&.fill-50 { right: 50%; }
						&.fill-60 { right: 40%; }
						&.fill-70 { right: 30%; }
						&.fill-80 { right: 20%; }
						&.fill-90 { right: 10%; }
						&.fill-100 { right: 0; }
					}
				}
				& > .professorPoints {
					display: flex;
					align-items: center;
					font-weight: 900;
					color: #1ced1c;
					background: brown;
					padding-inline: 7px;
					border-radius: 10px;
					padding-block: 2px;
					min-width: 50px;
					justify-content: space-between;
				}
			}
			& > .rowTwo {
				display: flex;
				justify-content: space-between;
				gap: 0.4em;
				& > div {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.3em;
				}

				.type {
					gap: 0.3em;
				}
				.mineral {
					flex: 1;
					.mineral.icon {
						color: #00f8f8;
					}
				}
				.details {
					border: 1px solid;
					padding-inline: 8px;
					border-radius: 7px;
					gap: 3px;
					opacity: 0.6;
					font-size: 0.9em;
					font-weight: 900;

					.expand,
					.contract {
						font-size: 0.9em;
						letter-spacing: -2px;
					}

					&.closed .contract {
						display: none;
					}
					&.open .expand {
						display: none;
					}
				}
			}
			& > .separator {
				height: 2px;
				background: currentColor;
				opacity: 0.1;
			}
			& > .details {
				.basic {
					display: flex;
					flex-direction: column;
					gap: 10px;
					.metrics {
						display: flex;
						gap: 5px;

						& > div {
							flex: 1;
							display: flex;
							align-items: center;
							justify-content: space-between;
						}
						& > .attack {
							.attack.icon {
								color: white;
								background: #00b6ff;
							}
						}
						& > .health {
							.health.icon {
								color: red;
								background: transparent;
								font-size: 23px;
								line-height: 17px;
							}
						}
						& > .defense {
							.defense.icon {
							}
						}
					}
					.speed {
						& > div:not(:last-child) {
							border-bottom: solid 1px;
							border-bottom-color: #6c151530;
							padding-bottom: 5px;
							margin-bottom: 5px;
						}
						.attackSpeed {
							display: flex;
							justify-content: space-between;
						}
						.moveSpeed {
							display: flex;
							justify-content: space-between;
						}
					}
					.skill .square,
					.ability .square {
						width: 35px;
						aspect-ratio: 1 / 1;
						border-radius: 5px;
						background: #e3d5b5;
					}
					.skill {
						display: flex;
						gap: 5px;
						align-items: center;
					}
					.ability {
						display: flex;
						gap: 5px;
						align-items: center;
					}
				}
			}
			& > .actions {
				.lock {
					font-size: 22px;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-block: auto;
					border: 2px solid grey;
					opacity: 0.5;
					.icon {
						filter: grayscale(1) contrast(0);
					}
					&.locked {
						background-color: yellow;
						opacity: 1;
					}
				}
			}
		}
	}
}
