@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

body {
	margin: 0;
	background-color: black;
	overflow: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	font-family: sans-serif;

	.hidden {
		display: none !important;
	}

	& > .background,
	& > .container,
	& > .message,
	& > .overlay {
		position: absolute;
	}

	& > .background {
		--skylight: #d1ddd9;
		--skydark: #657fa8;
		left: 0;
		width: 100vw;
		top: 0;
		height: 100vh;
		position: relative;
		background: linear-gradient(
			0deg,
			var(--skydark),
			var(--skylight) 30%,
			var(--skylight) 50%,
			var(--skydark)
		);
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 10vw;
			right: 10vw;
			bottom: 0;
			height: 41px;
			background: linear-gradient(0deg, #659a2a, #c2dc5e);
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		}
	}
	& > .message {
		bottom: 3vh;
		left: 50%;
		transform: translateX(-50%);
		color: #2b2b2b;
	}
	& > .container {
		left: 50%;
		top: 10vh;
		width: 660px;
		height: 80vh;
		transform: translateX(-50%);
		display: flex;
		gap: 10px;

		& > .selected {
			--actions-height: 50px;
			/* opacity: 0.5;
			background: green; */
			height: 100%;
			width: 71.5%;
			.banner {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: relative;
				height: calc(100% - var(--actions-height));

				.background {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
					img {
						/* object-fit: cover; */
						border-radius: 10px;
						width: 100%;
						height: 100%;
					}
				}
				.expires {
					position: absolute;
					top: -10px;
					color: white;
					background: #333;
					display: flex;
					gap: 5px;
					padding-inline: 15px;
					border-radius: 10px;
				}
				.shuttle {
					position: absolute;
					top: calc(100% / 2 - 8px);
					display: flex;
					justify-content: space-between;
					left: 15px;
					right: 15px;
					color: white;
					.prev {
					}
					.next {
					}
				}
			}
			.actions {
				display: flex;
				height: var(--actions-height);
				justify-content: center;
				gap: 10px;
				padding: 7px;
				padding-bottom: 0;
				box-sizing: border-box;
				pointer-events: none;
				button {
					/* flex: 1; */
					width: 35%;
					background: yellow;
					color: #4d3213;
					border: 2px solid currentColor;
					font-size: 15px;
					font-weight: 600;
					min-height: 100%;
					max-height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 10px;
					box-sizing: border-box;
					pointer-events: all;
					& > * {
						pointer-events: none;
					}
					.pulls {
						flex: 1;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
					}
					.cost {
						border-radius: 7px;
						background: #e8ce24;
						padding: 5px 7px;
						display: flex;
						align-items: center;
						gap: 5px;
						font-size: 1.3em;
						.icon {
							width: 20px;
							height: 20px;
							&.ruby {
								background: red;
							}
							&.ticket {
								background: #558be6;
							}
						}
						.amount {
						}
					}
				}
			}
		}
		& > .selector {
			height: 100%;
			width: 28.5%;
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 5px;
			.tabs {
				background: #bbaaba;
				width: 100%;
				border-radius: 10px;
				display: flex;
				border: 2px solid rgb(109 88 105);
				box-sizing: border-box;
				font-weight: 900;
				pointer-events: none;
				user-select: none;
				cursor: pointer;

				& > div {
					flex: 1;
					text-align: center;
					padding-block: 10px;
					color: white;
					pointer-events: all;
					& > * {
						pointer-events: none;
					}
					&.selected {
						color: yellow;
						background: #0003;
					}
				}
			}
			.list {
				flex: 1;
				display: flex;
				flex-direction: column;
				overflow-y: scroll;
				scrollbar-width: none;
				gap: 5px;
				pointer-events: none;
				padding-bottom: 30px;
				.listItem {
					width: 100%;
					height: min-content;
					background: #c35dc3;
					border-radius: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					box-sizing: border-box;
					pointer-events: all;
					border: 2px solid #0007;

					& > * {
						pointer-events: none;
					}
					&.selected {
						border: 2px solid orange;
					}
					img {
						border-radius: 10px;
						width: 100%;
					}
				}
			}
		}
	}
	& > .overlay {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #000b;
		display: flex;
		align-items: center;
		justify-content: center;

		.dialogBox {
			background: #905527;
			padding: 2em;
			display: flex;
			flex-direction: column;
			gap: 10px;
			color: white;
			border-radius: 10px;
			box-sizing: border-box;
			border: 2px solid black;
			button {
				background: #00c031;
				padding: 0.2em;
				border-radius: 0.5em;
				color: white;
				text-transform: uppercase;
				font-family: 'Passion One', sans-serif;
				font-weight: 400;
				font-size: 19px;
				letter-spacing: 1px;
				min-width: 130px;
				border: 0;
			}
		}
	}
}
