@import url('/vendor/google.fonts.css');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;

	--rows: 10% 27% 1fr;
	--dark-bar-top: 37%;
}

.background {
	background: url(./bg.png);
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	.bluebar {
		position: fixed;
		top: var(--dark-bar-top);
		height: 100px;
		width: 100%;
		background: #202944;
	}
}

.container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	& > div {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #c3b29e;
		box-sizing: border-box;
		/* border: 1px solid #f0f;
		border-top: 0px; */
	}
	& > .left {
		left: 19%;
		right: 41%;
		top: 9%;
		bottom: 9%;
		padding-inline: 12px;
		& > .message {
			.highlight {
				color: #ecdfcf;
			}
		}
		& > .header {
			display: flex;
			margin-top: 11px;
			align-items: center;
			width: 100%;
			height: 40px;
			.title {
				color: yellow;
				font-size: 20px;
				margin-right: auto;
				font-weight: 900;
				text-wrap: nowrap;
			}
			.tierSelector {
				font-weight: 600;
				--select-closed-bg-color: #967c70;
				--select-bg-color: #e6d4b8;
				--select-border-color: #000000;
				--select-border-radius: 7px;
				--select-text-color: #372c25;
				--select-hover-bg-color: #dcc49e;
				--select-disabled-color: #f00;
				--select-width: 145px;
				--select-active-bg-color: #372c25;
				--select-active-color: #e6d4b8;
				--select-items-py: 5px;
				--select-items-color: #82513a;
			}
			& > .infoButton {
				margin-left: 10px;
				height: 32px;
				background: #93827a;
				border-color: black;
				color: white;
			}
		}
		& > .tierPlayers {
			flex: 1;
			width: 100%;
			margin-bottom: 9px;
			margin-top: 5px;
			overflow-y: auto;
			padding-inline: 13px;
			padding-block: 10px;
			box-sizing: border-box;
			scrollbar-width: none;
			pointer-events: none;

			.player {
				display: flex;
				color: black;
				align-items: center;
				padding: 5px;
				gap: 10px;
				pointer-events: all;
				& > div {
					pointer-events: none;
				}
				& > .rank {
					width: 17px;
					text-align: center;
					font-weight: 900;
				}
				& > .icon {
					width: 45px;
					aspect-ratio: 1 / 1;
					background-color: #4a38303b;
					border-radius: 8px;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
				& > .trophies {
					margin-left: auto;
					display: flex;
				}
				& > .details {
					.level {
						display: flex;
						gap: 3px;
						.gradeIcon {
							height: 17px;
							width: 15px;
						}
						/* prettier-ignore */
						.gradeIcon {
						   &.normal { display: none; }
                           &.master { background-color: red; }
                           &.smaster { background-color: green; }
                           &.umaster { background-color: blue; }
                           &.legend { background-color: black; }
						}
					}
				}
			}
			.player + .player {
				border-top: 1px solid #c3af8f;
			}
		}
	}
	& > .right {
		left: 60.5%;
		right: 16.25%;
		top: 11.5%;
		bottom: 9%;
		gap: 0.2rem;
		color: white;

		& > div {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.tierNumber {
			margin-top: 2.75rem;
			background: black;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			box-shadow:
				0 0 0px 2px #855a47,
				0 0 0px 4px #3c0a09;
		}
		.userName {
			font-size: 0.9rem;
		}
		.stats {
			display: flex;
			gap: 15px;
			align-items: center;
			width: 100%;
			& > div {
				display: flex;
				align-items: center;
				gap: 5px;
			}
			.rankingIcon,
			.trophiesIcon {
				fill: white;
				width: 25px;
				height: 25px;
				text {
					fill: #800000;
					font-size: 32px;
					text-anchor: middle;
				}
			}
		}
		.separator {
			width: 90%;
			height: 2px;
			background-color: black;
			border-bottom: 1px solid;
			opacity: 0.15;
		}
		.actions {
			/* margin-top: 3px; */
			button.record {
				background: #5b4299;
				color: white;
				border-color: #700081;
			}
		}
		.pvpActions {
			width: 95%;
			display: flex;
			flex-direction: column;
			gap: 4px;
			margin-top: auto;
			margin-bottom: 0;
			& > * {
				width: 100%;
			}
			button {
				color: white;
				border-color: black;
				width: 100%;
				font-size: 20px;
				min-height: 40px;
				max-height: 40px;
				padding: unset;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.doubleRow {
				display: flex;
				align-items: center;
				text-wrap: nowrap;
				gap: 5px;
				& > button {
					font-size: 15px;
				}
			}
			/* prettier-ignore */
			button {
				&.defenders { background: #54B848; }
				&.swapShop { background: #9d907b; }
				&.friendBattle { background: #3eaed0; }
				&.battle { background: #d22714; }
			}
		}
	}
}

button {
	background: #1e2430;
	padding: 0.4em 0.6em;
	border-radius: 0.5em;
	color: #b3c7d1;
	text-transform: uppercase;
	border-color: #8facbb;
	font-family: 'Passion One', sans-serif;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 1px;
}
